<h1>Users</h1>

<ul>
    <% @users.each do |user| %>
        <% next if user == current_user %>
        <li>
            <%= user.name %>
            <%= link_to("View Profile", user_path(user.id) ) %>
            <%= link_to("Add Friend", friend_requests_path(id: user.id), method: :POST) unless current_user.is_friend?(user.id) %>
        </li>
    <% end %>
</ul>
